
.modal{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 300px;
    background-color: blue;
    padding: 20px;
    
}

.container div input{
    width: 100%;
    font-size: large; 
     margin-top: 40px;
}
.container div textarea{
    width: 100%;
    font-size: large;
    margin-top: 20px;
}
.btn{
    background-color: green;
    font-size: large;
    margin-top: 20px;
}