.descriptionbox{
    margin: 120px 170px;
    margin-bottom: 40px;
}
.descriptionbox-navigator{
    display: flex;
    justify-content: flex-start;

}
.descriptionbox-nav-box{
    display: flex;
   justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;


}

.descriptionbox-nav-box .fade{
    background: #FBFBFB;
    color: #555;

}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
    align-items: flex-start;
}
.descriptionbox-description p{
 text-align: left;
}

@media(max-width: 1280px){
    .descriptionbox{
        margin: 60px;
        margin-top: -80px;
    }

}

@media(max-width: 800px){
    .descriptionbox{
        margin: 0px 20px;
        margin-top: -250px;
        margin-bottom: 40px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
    
}
@media(max-width: 500px){
    .descriptionbox{
        margin: 0px 20px;
        margin-top: 260px;
        margin-bottom: 60px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
    
}